CHIBA3_DB_URL=postgresql://chiba:chiba@127.0.0.1:54339/chiba3
CHIBA3_DEV_POSTGRES_PORT=54339
CHIBA3_DEV_CONTROL_API_PORT=8795
CHIBA3_DEV_OPS_PORT=8792
CHIBA3_DEV_GUIDE_PORT=5173
CHIBA3_DEV_MINIO_API_PORT=9100
CHIBA3_DEV_MINIO_CONSOLE_PORT=9101
CHIBA3_DEV_NODE_RUNTIME_GUIDE_PORT=8080
CHIBA3_DEV_NODE_RUNTIME_API_PORT=8787
